<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Categories</title>
  </head>

  <body>
    <h1>Categories</h1>

    <table>
      <tr th:each="category : ${categories}">
        <td th:text="${category.category_name}">Category name</td>
        <td><a th:href="@{/categories/{id}(id=${category.id})}">View, Update or Delete</a></td>
      </tr>
    </table>

    <h2>Add a Category</h2>

    <form th:action="@{/categories}" method="POST">
      <span>Name:</span><input type="text"  id="category_name" name="category_name"/>
      <input type="submit" value="Add!"/>
    </form>
    <a th:href="@{/}">Back to Index</a>
  </body>
</html>