<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event</title>
</head>
<body>


        <form th:action="@{/events/update}" method="POST">
            <input type="hidden" th:field="${event.id}" th:value="${event.id}"/>
            <table>
                <tr>
                    <th>Event</th>
                <tr>
                    <td>Event Title</td>

                    <td th:text="${event.event_title}">Event title</td>
                    <td><input type="text" th:field=${event.event_title} th:value="${event.event_title}" placeholder="*{event_title}"></td>
                </tr>

                <tr>
                    <td>Event Description</td>
                    <td th:text="${event.event_description}">Event description</td>
                    <td><input type="text" th:field="${event.event_description}" th:value="${event.event_description}" placeholder="*{event_description}"></td>
                </tr>
                <tr>
                    <td>Event Date</td>
                    <td th:text="${event.event_date}">Event date</td>
                    <td><input type="date" th:field="${event.event_date}" th:value="${event.event_date}" placeholder="*{event_date}"></td>
                </tr>

                <tr>
                    <td>Event Time</td>
                    <td th:text="${event.event_time}">Event time</td>
                    <td><input type="time" th:field="${event.event_time}" th:value="${event.event_time}" placeholder="*{event_time}"></td>
                </tr>
                <tr>
                    <td>Event due date</td>
                    <td th:text="${event.due_date}">Due date</td>
                    <td><input type="date" th:field="${event.due_date}" th:value="${event.due_date}" placeholder="*{due_date}"></td>
                </tr>
            <input type="submit" value="Update Event" />
            </table>
        </form>

                <form th:action="@{/events/delete}" method="POST">
                    <input type="hidden" name="id" th:value="${event.id}" />
                    <input type="submit" value="Delete" class="deleteBtn" />
                </form>


    <a th:href="@{/events}">Back to Events</a>
</body>
</html>